doctype html
html
    head
        meta(charset="utf-8")
        title Hello, Guest
        link(rel="stylesheet/less", href="/res/index.less")
    body

    script(data-main="/res/index", src="/res/require.js")
